.order-summary {
  width: 270px;
  border: 1px solid #D5D8E2;
  border-radius: 6px;
  padding: 13px 15px;
  font-size: 1rem;

  &__profile {
    margin-top: 7px;
    margin-bottom: 22px;
  }

  &__profile-picture {
    display: block;
    width: 76px;
    height: 76px;
    margin: 1rem auto 0 auto;
  }

  &__profile-name {
    margin-top: 13px;
    color: #171819;
    font-size: 1em;
    font-weight: 600;
    line-height: (18 / 16);
    text-align: center;
  }

  &__order {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
  }

  &__order-title {
    border-top: 1px solid #D5D8E2;
    padding: 1rem 0;
    color: #1F1F1F;
    font-size: 1em;
    font-weight: 600;
    line-height: (22 / 16);
    text-align: left;
  }

  &__order-column {
    height: 30px;
    color: #171819;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;

    &--subtitle {
      height: 1rem;
      color: #000;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--price {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.12px;
      text-align: right;
    }

    &--highlight {
      height: 1rem;
      color: #D5D8E2;
    }

    &--last {
      height: 1rem;
      padding-top: 8px;
      padding-bottom: 1rem;
    }

    &--total {
      height: 32px;
      border-top: 1px solid #D5D8E2;
      vertical-align: bottom;
    }
  }
}

.btn {
  display: block;
  width: 100%;
  height: 64px;
  border: 0;
  border-radius: 6px;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: (19 / 14);
  font-weight: 600;
  background-color: #00DBAD;
  cursor: pointer;

  &:active,
  &:hover,
  &:focus {
    background-color: darken(#00DBAD, 2%);
  }
}
